.forgot-password-background {
  height: 100vh;
  //background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "work sans";
  position: relative;
  .container-center {
    padding: 20px;
    .logo {
      text-align: center;
    }
    .content {
      h4 {
        text-align: center;
      }
      .btn-submit {
        display: flex;
        justify-content: center;
        button {
          background-color: rgb(110, 110, 154);
          border: none;
        }
      }
      .return-login {
        &:hover {
          color: rgb(110, 110, 154);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    position: absolute;
    left: 50%;
    width: 40%;
    height: auto;
    background-color: white;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    bottom: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
    border-radius: 15px;
  }
}
