.filter-product-content {
    width: 100%;
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

    .grid-product {
        padding: 5px;
        text-align: center;
        width: 100%;

        .product {
            .product-content {
                .card {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    width: 300px;
                    margin: auto;

                    .img-product {
                        height: 300px;
                        width: 90%;
                        background-repeat: no-repeat;
                        background-size: contain;
                        border-radius: 5px;
                        background-position: center;
                    }

                    .price {
                        color: grey;
                        font-size: 22px;
                    }

                    button {
                        border: none;
                        outline: 0;
                        padding: 12px;
                        color: white;
                        background-color: #000;
                        text-align: center;
                        cursor: pointer;
                        font-size: 18px;

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}